@page "/counter"
@using BAWLib
@using Bike_Around_Worlds.Components.Blazor_Components
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<ul>
    @foreach(var bike in _bikes)
    {
        <BikeComponent Id="bike.Id" Ps="bike.Ps" Weight="bike.Weight" Seatheight="bike.Seatheight" Kilomerter="bike.Kilomerter" Model="@bike.Model" Manufacturer="@bike.Manufacturer" CurrentLeasingRate="bike.CurrentLeasingRate" ImgOne="@bike.ImgOne" ImgTwo="@bike.ImgTwo" ImgThree="@bike.ImgThree"></BikeComponent>
    }
</ul>
@code {
    private int _currentCount;
    private List<Bike> _bikes = new();
    
    private void IncrementCount()
    {
        _bikes.Add(new Bike(0, 30, 160, 20, "Model", "Manufacturer", 3000, 4500, "Resources/bike1.jpg", "Resources/bike1.jpg", "Resources/bike1.jpg"));
        
        _currentCount++;
    }
}