@using BAWLib
@using BAWLib.Entities
@using Domain.Interfaces
@inject  IRepository<Motorbike> BikeRepository
@inject NavigationManager NavigationManager
<div class="card section-cont-card " @onclick="NavigateToProduct">
    <img src="/Resources/Bikes/@first" class="d-block " alt="Bike @startimgin">
    <div class="card-body rounded">
        <h5 class="card-title">@bike.Manufacturer @bike.Model</h5>
        <div class="card-text d-flex justify-content-between flex-wrap mb-lg-2">
            <div class="d-flex align-content-lg-start"><span class="pricetag">@CurrentLeasingContract.Price_Per_Day </span><span>/Tag</span></div>
            <span>@CurrentLeasingContract.Insurance</span>
        </div>
        <p class="card-text"><small class="text-body-secondary federal-state">#@bike.Federal_State</small></p>
    </div>
</div>

@code {
    [Parameter] public int MotorbikeID { get; set; }
    [Parameter] public User CurrentUser { get; set; }
    [Parameter] public LeasingContract CurrentLeasingContract { get; set; }

    public static int startimgin;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        startimgin = 1 + ((MotorbikeID - 1) * 3);

        Console.WriteLine($"CurrentUser: {CurrentUser?.Username}, MotorBikeID: {MotorbikeID}");

        bike = BikeRepository.Read(MotorbikeID);
    }

    string first = "bike" + @startimgin + ".jpg";
    Motorbike bike = new();

    private void NavigateToProduct()
    {
        Console.WriteLine("nagive");
        NavigationManager.NavigateTo($"product/{MotorbikeID}");
    }

}